.banner {
  width: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    90deg,
    #36231c 18.92%,
    rgba(54, 35, 28, 0) 50.56%,
    #36231c 80.88%
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
